/* kartica-dodavanje
naslov
sve-ostalo
jedna-grupa */

.kartica-dodavanje {
  margin: auto;
  margin-top: 50px;
  border: none;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  background-color: rgb(41, 41, 41);
  padding: 0;
  width: 40%;
  color: white;
}

.naslov {
  color: white;
  /* background-color: rgb(253, 50, 14); */
  background-image: linear-gradient(
    to top right,
    rgb(253, 89, 60),
    rgb(253, 50, 14)
  );
  border-top-left-radius: 1rem;
  border-top-right-radius: 2rem;
  font-size: 70px;
  font-weight: 800;
  font-family: 'Dongle', sans-serif;
}

.sve-ostalo {
  margin: 25px;
  padding-bottom: 10px;
}

.jedna-grupa {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.jedna-grupa label {
  text-align: left;

  font-family: 'Dongle', sans-serif;
  font-size: x-large;
}

.jedna-grupa input {
  margin-left: -14px;
  text-indent: 4px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border: none;
  padding: 5px;
  font-family: 'Dongle', sans-serif;
  font-size: x-large;
  text-align: center;
}

.jedna-grupa input::placeholder {
  font-size: x-large;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .kartica-dodavanje {
    width: 90%;
  }
  .jedna-grupa input {
    font-size: large;
  }
}
